* {
  outline: 1px solid red;
}
fieldset {
  all: unset;
}

.trait-row {
  display: grid;
  grid-template-columns: minmax(5rem, 0.5fr) repeat(5, minmax(2rem, 1fr));
  align-items: center;
}

.trait-name {
  justify-self: flex-start;
}

.dice-row {
  display: contents;
}

input[type="radio"] {
  display: none;
}

.dice-toggle {
  width: 2.5rem;
  height: 2.5rem;

  cursor: pointer;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

input[type="radio"]:checked + .dice-toggle {
  background-image: url("../assets/dice/d6g.svg");
}

.d4 {
  background-image: url("../assets/dice/d4g.svg");
}

.d6 {
  background-image: url("../assets/dice/d6g.svg");
}

.d8 {
  background-image: url("../assets/dice/d8g.svg");
}

.d10 {
  background-image: url("../assets/dice/d10g.svg");
}

.d12 {
  background-image: url("../assets/dice/d12g.svg");
}
