.points {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--savage-orange);
  text-align: center;
  border-radius: 8px;
  background-color: #2a2a2a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s;
  border: 2px solid transparent;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  max-width: 90%;
  height: auto;
}

.count {
  font-size: large;
}
