#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.app-container h1 {
  color: var(--savage-yellow);
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
